<h1>Thud Hub</h1>


<div class="concert-list">
	<% @concerts.each do |concert| %> 
	<p><b><%= link_to concert.band, concert_path(concert) %></b> 
	Venue: <%= concert.venue  %> </p>
		<% end  %>
	</div>

